version: '3'

services:
    db:
        image: postgres:17
        container_name: db
        restart: unless-stopped
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: api
