.pre {
  @apply relative mb-4 overflow-hidden rounded-xl border shadow-2xl;
  border-color: hsl(var(--border) / 0.5);

  div {
    &:nth-child(2)::-webkit-scrollbar-thumb {
      background: hsl(var(--muted-foreground) / 0.3);
    }
  }

  pre > code {
    color: var(--code-text, hsl(var(--foreground)));
  }

  :has(> span) {
    // @apply mb-4;
    white-space: normal;
  }

  // 暗色主题特定样式
  :global(.dark) & {
    pre > code {
      color: #c084fc;
    }
  }
}

.toolbar {
  @apply relative flex h-8 w-full items-center px-4 backdrop-blur-md;
  background-color: hsl(var(--muted) / 0.6);
  border-bottom: 1px solid hsl(var(--border) / 0.3);

  // Traffic lights
  &::before {
    @apply h-2.5 w-2.5 rounded-full;
    background: #ff5f56;
    box-shadow:
      18px 0 0 #ffbd2e,
      36px 0 0 #27c93f;
    content: '';
  }

  .toolbarLanguage {
    @apply absolute left-1/2 -translate-x-1/2 font-mono text-[14px] text-muted-foreground/80 lowercase tracking-wider;
    pointer-events: none;
  }

  .toolbarAction {
    @apply absolute right-4 flex items-center;
  }
}
