.pre {
  @apply relative mb-4 overflow-hidden rounded-lg;

  div {
    &:nth-child(2)::-webkit-scrollbar-thumb {
      background: hsl(var(--muted-foreground) / 0.3);
    }
  }

  pre > code {
    color: var(--code-text, hsl(var(--foreground)));
  }

  :has(> span) {
    @apply mb-4;
    white-space: normal;
  }

  // 暗色主题特定样式
  :global(.dark) & {
    pre > code {
      color: #c084fc;
    }
  }
}

.toolbar {
  position: relative;
  height: 2rem;
  width: 100%;
  background-color: hsl(var(--secondary));
  @apply flex align-middle;

  .toolbarLanguage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: text;
    color: hsl(var(--primary));
  }

  .toolbarAction {
    margin-left: auto;
    line-height: 2rem;
    color: hsl(var(--muted-foreground));
    @apply mr-2;

    &:hover {
      color: hsl(var(--primary));
    }
  }

  &::before {
    position: absolute;
    top: 50%;
    width: 11px;
    height: 11px;
    background: #fc625d;
    border-radius: 50%;
    box-shadow:
      20px 0 #fdbc40,
      40px 0 #35cd4b;
    transform: translate(50%, -50%);
    content: ' ';
  }

  // 暗色主题
  :global(.dark) & {
    background-color: rgb(34 31 31);

    .toolbarLanguage {
      color: #67e8f9;
    }

    .toolbarAction {
      color: #67e8f9;

      &:hover {
        color: #00ffd1;
      }
    }
  }
}
