name: Build json4u Docker Image
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/json4u.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: powerfulyang/json4u

      - name: Set variables
        run: |
          VER=$(grep '"version"' package.json | cut -d '"' -f 4)
          echo "VERSION=$VER" >> $GITHUB_ENV
      # Set up QEMU for ARM support
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/json4u:latest
          build-args: |
            APP_URL=https://json.us4ever.com

